.Header{
    margin: 0 auto;
    max-width: 1440px;
    height: 80px;
    box-shadow: 0px 0px 2px rgba(14, 31, 53, 0.12);
    background: #FFFFFF;
    padding-left: 120px;
    padding-right: 117px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo_title{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            width: 332px;
            justify-content: space-around;
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: #2C2D2E;
            li{
                list-style: none;
                cursor: pointer;
            }
        }
        .logo{
        width: 222px;
        height: 34px;
    }
    
    }
  .sign_in{
        .btn{
             background: #465EFD;
            border-radius: 12px;
            width: 210px;
            height: 48px;
            padding: 12px 20px;
            border: none;
            color: white;
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;   
        }
    }  

}