.resetPage{
    width: 450px;
    padding: 37px 25px;
    min-height: 420px;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    h1{
        font-weight: 600;
        font-size: 25px;
        line-height: 130%;
        color: #2C2D2E;
        margin-bottom: 30px;
    }
    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #2C2D2E; 
        margin-bottom: 30px;       
    }

    .reset_btn{
        width: 400px;
        text-align: start;
        margin-left: 24px;
        margin-bottom: 10px;
        span{
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #919399;
            margin-bottom: 10px;
        }
    }

    .blue_btn{
        width: 402px;
        height: 48px;
        margin-left: 24px;
        margin-top: 33px;
        margin-bottom: 8px;
    }
    .white_btn{
        width: 402px;
        height: 48px;
        margin-left: 24px;
    }
}